/**
 * @name Old UI Restoration
 * @description A Bunch of Snippets to Bring back some good aspects of the Old UI
 * @author Blurple
 * @version 1.0.0
*/

/* Revert the Guild Bar back to Old UI Style */
@import url("https://raw.githubusercontent.com/BIurple/VC-Themes/refs/heads/main/Imports/Experimental/GuildBarRevert.css");
/* Makes Chat Related Alerts feel more seamless */
@import url("https://raw.githubusercontent.com/BIurple/VC-Themes/refs/heads/main/Imports/ChatRelatedAlertsAtTop.css");

/* CSS VARIABLES */

.theme-dark {	
	--background-primary: var(--background-base-low) !important;
	--background-secondary: var(--background-base-lower) !important;
	--background-tertiary: var(--background-base-lowest) !important;
	--background-surface-highest: var(--background-primary);
	--background-secondary-alt: color-mix(in oklab, var(--neutral-86) 30%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}

.theme-darker {	
	--background-primary: var(--background-base-low) !important;
	--background-secondary: var(--background-base-lower) !important;
	--background-tertiary: var(--background-base-lowest) !important;
	--background-surface-highest: var(--background-primary);
	--background-secondary-alt: color-mix(in oklab, var(--neutral-86) 30%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}
.theme-midnight {
	--background-primary: var(--background-base-low) !important;
	--background-secondary: var(--background-base-lower) !important;
	--background-tertiary: var(--background-base-lowest) !important;
	--background-surface-highest: var(--background-primary);
	--background-secondary-alt: color-mix(in oklab, var(--neutral-86) 30%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}

body {
    --custom-channel-textarea-text-area-height: 42px; /* Custom Chat Bar Height, default value is 42px */
}

/* Old UI User Panel */
.visual-refresh {
#app-mount {
._5e434347c823b592-sidebar ._5e434347c823b592-panels,
._5e434347c823b592-panels > ._37e49614b9f110a9-container > ._4bbc6dc06e75ad52-container {
    border-radius: 0;
}

._5e434347c823b592-sidebar ._5e434347c823b592-panels {
    left: var(--custom-guild-list-width);
    bottom: 0;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px) !important;
}

._5e434347c823b592-sidebar ._5e434347c823b592-wrapper {
  margin-bottom: unset !important;
}
/*div[class^=sidebar_] div[class^=scroller__] {
  margin-bottom: unset !important;
}*/
}
}


/* Title Bar CSS */
:root {
	--custom-app-top-bar-height: 28px;
}
/* Move top bar title back to the left */
.visual-refresh {
.c38106a3f0c3ca76-title {
   padding-left: var(--gap);
   justify-content: flex-start;
   margin-left: 0.5%;
}
.edbb22df99c39831-title {
   gap: 4px;
}
/* style top bar title */
/*.edbb22df99c39831-title .edbb22df99c39831-guildIcon {
    width: 16px;
   height: 16px;
   display: none;
}*/
.edbb22df99c39831-title .cf48127484dbde85-text-sm\/medium {
   line-height: 90%;
   color: var(--text-muted);
   font-weight: 700;
}
}


/* rearrange toolbar */
a[href="https://support.discord.com"] /* hide help */ /* I MADE A CHANGE FOR COMPACT TITLEBAR!!!*/
{
   display: none;
}
._974928fe84ca9647-search {
   order: 1;
   margin: 0 4px 0 12px;
}



/* Reduce Activity Panel's Height */
.activityPanel_c48ade {
    height: 36px
}

/* Fix Weird Blur-Like thing for Chat */
._36d072eab2b2e737-chatTypingGradientNotAtBottom,._36d072eab2b2e737-chatGradientBase {
	display: none !important;
}


/* Old Context/Popout Menu */
.visual-refresh {
	.c1e9c47c23f12ca3-menu, .option__3f413, .popout__3f413 {
		background: var(--background-surface-high);
	    box-shadow: var(--shadow-high);
	    border-radius: 4px;
		border: none;
	}
	.c1e9c47c23f12ca3-scroller, .c1e9c47c23f12ca3-labelContainer {
		padding: 6px 8px;
	}
	.f563df886a7377be-wrapper {
		gap: unset;
		padding: 4px 0 6px 2px;
		.f563df886a7377be-button {
			border-radius: 50%;
			width: 32px;
		    height: 32px;
		    padding: 4px;
		}
	}
	.c1e9c47c23f12ca3-item {
	    box-sizing: border-box;
	    margin: 2px 0;
	}
	.c1e9c47c23f12ca3-colorDefault .c1e9c47c23f12ca3-label {
		color: unset;
	}
	.c1e9c47c23f12ca3-colorDefault:active:not(.c1e9c47c23f12ca3-hideInteraction) {
		background-color: var(--menu-item-default-active-bg);
	}
	.c1e9c47c23f12ca3-colorDefault.c1e9c47c23f12ca3-focused {
		border-radius: 2px;
	}
	.c1e9c47c23f12ca3-colorDanger, .c1e9c47c23f12ca3-colorDanger .c1e9c47c23f12ca3-checkbox, .c1e9c47c23f12ca3-colorDanger .c1e9c47c23f12ca3-radioSelection {
		color: var(--status-danger);
	}
	.c1e9c47c23f12ca3-colorDanger.c1e9c47c23f12ca3-focused {
	    color: var(--white);
	}
	.c1e9c47c23f12ca3-colorDefault.c1e9c47c23f12ca3-focused:not(.c1e9c47c23f12ca3-checkboxContainer) path {
	    fill: var(--white);
	}
	.c1e9c47c23f12ca3-iconContainer {
		width: 18px;
		height: 18px;
	}
	.c1e9c47c23f12ca3-separator {
		margin: 4px;
	}
	.c1e9c47c23f12ca3-iconContainer {
		svg.c1e9c47c23f12ca3-radioIcon {
			width: 16px;
			height: 16px;
			margin-top: 2px
		}
		.refreshIconFill__001a7 {
			fill: transparent;
			stroke: white;
			stroke-width: 2;
			r: 10;
		}
		.refreshIconStroke__001a7 {
			stroke-width: 0;
		}
		.refreshIcon__001a7 {
			fill: var(--blurple);
			r: 6
		}
	}
	/* Emojis/GIF Picker */
	._084343c4f11eaaab-drawerSizingWrapper {
		right: 0px !important;
	}
	._084343c4f11eaaab-contentWrapper {
	    background-color: var(--background-secondary);
	    border-radius: 8px;
	    box-shadow: var(--shadow-border), var(--shadow-high);
		border: unset;
	}
	.fed6d32841cc2da2-header, ._084343c4f11eaaab-soundboardHeader {
		background-color: var(--background-secondary);
	    box-shadow: var(--shadow-ledge);
		border-bottom: unset;
	}
	.c0e32c5cffed3d9f-emojiPicker {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-border), var(--shadow-high);
		border-bottom-right-radius: var(--custom-emoji-picker-border-radius);
		border-bottom-left-radius: var(--custom-emoji-picker-border-radius);
		grid-template-columns: 48px auto;
		grid-template-rows: auto 1fr auto;
		height: var(--custom-emoji-picker-constants-emoji-picker-height);
		width: var(--custom-emoji-picker-constants-min-emoji-picker-width);
	}
	.c0e32c5cffed3d9f-emojiPickerHasTabWrapper .c0e32c5cffed3d9f-emojiPicker {
	    background-color: transparent;
	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 0;
	    box-shadow: none;
	    flex: 1 1 auto;
	    grid-template-rows: auto 1fr auto;
	    height: 100%;
	    width: auto;
	}
	.c0e32c5cffed3d9f-categoryList {
		top: 58px;
	}
	.a1e0e01524490cf9-expressionPickerCategoryList {
		top: 50px;
	}
	.aeaaeb2a573807f0-inspector {
		background-color: var(--background-secondary-alt);
		border-top: unset;
	}
	.c0e32c5cffed3d9f-emojiPickerHasTabWrapper .c0e32c5cffed3d9f-categoryList {
		top: 50px;
	}
	.b9ee0c229bc0b6bb-unicodeShortcut {
		box-sizing: unset;
		border-top: unset;
	}
	._14245bb948377a25-wrapper {
		background-color: var(--background-secondary);
	}
	._4e6cebf8beed1ad8-wrapper {
		background-color: var(--background-tertiary);
	}
	.c0e32c5cffed3d9f-header {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-high);
		margin: 0 -1px;
		padding: 4px;
		border-bottom: unset;
	}
	._91a9d7f7e5248a56-childContainer {
		padding: 2px 0
	}
	/*._9293f6b2fc12398a-clickable ._9293f6b2fc12398a-icon {
		color: var(--icon-muted);
	}*/
	/* channel menus */
	.header__45690 {
		background: var(--background-tertiary);
		border-bottom: 2px solid var(--background-modifier-accent);
	}
	.messagesPopoutWrap__45690 {
		background-color: var(--background-secondary);
		border-radius: 8px;
		max-height: 91vh !important;
	}
	.messageGroupWrapper__45690 {
		border: 1px solid var(--background-tertiary);
	    border-radius: 4px;
	    -webkit-user-select: none;
        user-select: none;
		background: var(--background-primary);
	    margin-right: unset;
	}
	.f3b986a284a18c78-searchHeader {
		background: var(--bg-overlay-chat);
	    height: 48px;
	    padding: 0 20px;
		border: unset;
	}
	._49fc18ba07c5025f-content {
		padding-top: unset;
	}
	._49fc18ba07c5025f-root {
		border: none;
	}
	._49fc18ba07c5025f-rootWithShadow {
	    box-shadow: var(--legacy-elevation-border), var(--legacy-elevation-high);
	}
}

/* Fix Size of new Chat Box */
._0923f156a0410684-attachWrapper {
	align-self: center;
	padding: 0px calc(var(--space-md) - 6px);
}













