/**
 * @name Old UI Restoration
 * @description A Bunch of Snippets to Bring back some good aspects of the Old UI
 * @author Blurple
 * @version 1.0.0
*/

/* Revert the Guild Bar back to Old UI Style */
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
/* Makes Chat Related Alerts feel more seamless */
@import url("https://raw.githubusercontent.com/NSPC911/themes/refs/heads/main/vencord/ChatRelatedAlertsAtTop.theme.css");


body {
    --custom-guild-list-padding: 12px; /* Shit for Server list to look just like the Old UI, Default value is 12px */
    --custom-channel-textarea-text-area-height: 42px; /* Custom Chat Bar Height, default value is 42px */
}

/* Color options */
:root {
    --colors: off; /* turn off to use discord default colors */

    /* text colors */
	--text-0: white; /* text on colored elements */
	--text-1: hsl(229, 73%, 90%); /* other normally white text */
	--text-2: #c0caf5; /* headings and important text */
	--text-3: #a9b1d6; /* normal text */
	--text-4: hsl(229, 18%, 54%); /* icon buttons and channels */
	--text-5: #414868; /* muted channels/chats and timestamps */

    /* background and dark colors */
	--bg-1: hsl(230, 22%, 26%); /* dark buttons when clicked */
	--bg-2: hsl(231, 21%, 19%); /* dark buttons */
	--bg-3: #1a1b26; /* spacing, secondary elements */
	--bg-4: #16161d; /* main background color */
	--hover: hsla(225, 22%, 41%, 0.125); /* channels and buttons when hovered */
	--active: hsla(225, 22%, 41%, 0.267); /* channels and buttons when clicked or selected */
    --active-2: hsla(225, 22%, 41%, 0.367); /* extra state for transparent buttons */
	--message-hover: hsla(0, 0%, 0%, 0.1); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--lavender-1); /* links and other accent text */
    --accent-2: var(--lavender-2); /* small accent elements */
    --accent-3: var(--lavender-3); /* accent buttons */
    --accent-4: var(--lavender-4); /* accent buttons when hovered */
    --accent-5: var(--lavender-5); /* accent buttons when clicked */
    --accent-new: var(--accent-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: color-mix(in hsl, var(--accent-5), transparent 90%); /* background of messages that mention you */
    --mention-hover: color-mix(in hsl, var(--accent-5), transparent 95%); /* background of messages that mention you when hovered */
    --reply: color-mix(in hsl, var(--text-3), transparent 90%); /* background of messages that reply to you */
    --reply-hover: color-mix(in hsl, var(--text-3), transparent 95%); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: var(--green-5); /* change to #43a25a for default */
    --dnd: var(--red-5); /* change to #d83a42 for default */
    --idle: var(--yellow-5); /* change to #ca9654 for default */
    --streaming: var(--purple-4); /* change to #593695 for default */
    --offline: var(--text-4); /* change to #83838b for default offline color */

    /* border colors */
    --border-light: var(--hover); /* light border color */
    --border: var(--active); /* normal border color */
    --button-border: hsl(235, 0%, 100%, 0.1); /* neutral border color of buttons */

    /* base colors */
    --red-1: hsl(343deg, 81%, 80%);
    --red-2: hsl(343deg, 81%, 75%);
    --red-3: hsl(343deg, 81%, 75%);
    --red-4: hsl(343deg, 81%, 70%);
    --red-5: hsl(343deg, 81%, 65%);

    --green-1: hsl(115deg, 54%, 81%);
    --green-2: hsl(115deg, 54%, 76%);
    --green-3: hsl(115deg, 54%, 76%);
    --green-4: hsl(115deg, 54%, 71%);
    --green-5: hsl(115deg, 54%, 66%);

    --blue-1: hsl(199deg, 76%, 74%);
    --blue-2: hsl(199deg, 76%, 69%);
    --blue-3: hsl(199deg, 76%, 69%);
    --blue-4: hsl(199deg, 76%, 64%);
    --blue-5: hsl(199deg, 76%, 59%);

    --yellow-1: hsl(41deg, 86%, 88%);
    --yellow-2: hsl(41deg, 86%, 83%);
    --yellow-3: hsl(41deg, 86%, 83%);
    --yellow-4: hsl(41deg, 86%, 78%);
    --yellow-5: hsl(41deg, 86%, 73%);

    --purple-1: hsl(267deg, 84%, 86%);
    --purple-2: hsl(267deg, 84%, 81%);
    --purple-3: hsl(267deg, 84%, 81%);
    --purple-4: hsl(267deg, 84%, 76%);
    --purple-5: hsl(267deg, 84%, 71%);

    --lavender-1: hsl(232deg, 97%, 85%);
	--lavender-2: hsl(232deg, 97%, 85%);
	--lavender-3: hsl(232deg, 97%, 85%);
	--lavender-4: hsl(232deg, 83%, 77%);
	--lavender-5: hsl(232deg, 68%, 69%);

	--tokyo-1: hsl(221, 89%, 72%);
	--tokyo-2: hsl(221.29 59% 60%);
	--tokyo-3: hsl(221.53 49% 52%);
	--tokyo-4: hsl(221.85 50% 45%);
	--tokyo-5: hsl(222.29 57% 38%);
}


/* Old UI User Panel */
div[class^=sidebar_] section[class^=panels_] {
    border-radius: 0;
    left: var(--custom-guild-list-width);
    bottom: 0;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px) !important;
}

div[class^=sidebar_] nav[class^=wrapper_] {
  margin-bottom: unset !important;
}

div[class^=sidebar_] div[class^=scroller__] {
  margin-bottom: unset !important;
}



/* Title Bar CSS */
/* Move top bar title back to the left */
[class^="title_c"] {
   padding-left: var(--gap);
   justify-content: flex-start;
   margin-left: 0.5%;
}
[class^="title__"] {
   gap: 4px;
}
/* style top bar title */
[class^="title__"] [class^="icon__"] {
    width: 16px;
   height: 16px;
   display: none;
}
[class^="title__"] .text-sm\/medium_cf4812 {
   line-height: 90%;
   color: var(--text-muted);
   font-weight: 700;
}


/* rearrange toolbar */
a[href="https://support.discord.com"] /* hide help */ /* I MADE A CHANGE FOR COMPACT TITLEBAR!!!*/
{
   display: none;
}
[class^="search_"] {
   order: 1;
   margin: 0 4px 0 12px;
}



/* Reduce Activity Panel's Height */
.activityPanel_c48ade {
    height: 36px
}

/* Improve Highlight of Mentioned Messages */
:root {
[class="message_"],[class*="mentioned_"]::before,[class="replying_"]::before {
	width: 2px;
	border-radius: 4px;
}

[class="message_"],[class*="mentioned_"]::before, /* Mention Message Left Edge */ 
[class^="botTagOP_"] {
    background: var(--accent-3);
}

[class="message_"],
[class*="mentioned_"] {
	background: hsl(232, 97%, 85%, 0.05);
}

[class^="message__"][class*="mentioned__"][class*="selected__"],
.mouse-mode.full-motion [class^="message__"][class^="mentioned__"]:hover {
    background: hsl(232, 97%, 85%, 0.1);
}

}

/* Fix Default Profiles being too light */
:root {
.theme-darker {
    --background-secondary-alt: color-mix(in oklab,var(--neutral-82) 100%, var(--theme-base-color,#000) var(--theme-base-color-amount, 0%));
    --bg-surface-overlay: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}

.theme-midnight {
    --background-secondary-alt: color-mix(in oklab, var(--neutral-95) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-surface-overlay: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}
}

/* Hide chatbox when no access */
[class*="channelTextAreaDisabled"] {
  display: none !important;
}

/* Old Context/Popout Menu */
.visual-refresh {
	.menu_c1e9c4, .option__3f413, .popout__3f413 {
		background: var(--background-floating);
	    box-shadow: var(--shadow-high);
	    border-radius: 4px;
		border: none;
	}
	.scroller_c1e9c4, .labelContainer_c1e9c4 {
		padding: 6px 8px;
	}
	.wrapper_f563df {
		gap: unset;
		padding: 4px 0 6px 2px;
		.button_f563df {
			border-radius: 50%;
			width: 32px;
		    height: 32px;
		    padding: 4px;
		}
	}
	.item_c1e9c4 {
	    box-sizing: border-box;
	    margin: 2px 0;
	}
	.colorDefault_c1e9c4 .label_c1e9c4 {
		color: unset;
	}
	.colorDefault_c1e9c4:active:not(.hideInteraction_c1e9c4) {
		background-color: var(--menu-item-default-active-bg);
	}
	.colorDefault_c1e9c4.focused_c1e9c4 {
		border-radius: 2px;
	}
	.colorDanger_c1e9c4, .colorDanger_c1e9c4 .checkbox_c1e9c4, .colorDanger_c1e9c4 .radioSelection_c1e9c4 {
		color: var(--status-danger);
	}
	.colorDanger_c1e9c4.focused_c1e9c4 {
	    color: var(--white);
	}
	.colorDefault_c1e9c4.focused_c1e9c4:not(.checkboxContainer_c1e9c4) path {
	    fill: var(--white);
	}
	.iconContainer_c1e9c4 {
		width: 18px;
		height: 18px;
	}
	.separator_c1e9c4 {
		margin: 4px;
	}
	.iconContainer_c1e9c4 {
		svg.radioIcon_c1e9c4 {
			width: 16px;
			height: 16px;
			margin-top: 2px
		}
		.refreshIconFill__001a7 {
			fill: transparent;
			stroke: white;
			stroke-width: 2;
			r: 10;
		}
		.refreshIconStroke__001a7 {
			stroke-width: 0;
		}
		.refreshIcon__001a7 {
			fill: var(--blurple);
			r: 6
		}
	}
	/* Emojis/GIF Picker */
	.drawerSizingWrapper__08434 {
		right: 0px !important;
	}
	.contentWrapper__08434 {
	    background-color: var(--background-secondary);
	    border-radius: 8px;
	    box-shadow: var(--shadow-border), var(--shadow-high);
		border: unset;
	}
	.header_fed6d3, .soundboardHeader__08434 {
		background-color: var(--background-secondary);
	    box-shadow: var(--shadow-ledge);
		border-bottom: unset;
	}
	.emojiPicker_c0e32c {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-border), var(--shadow-high);
		border-bottom-right-radius: var(--custom-emoji-picker-border-radius);
		border-bottom-left-radius: var(--custom-emoji-picker-border-radius);
		grid-template-columns: 48px auto;
		grid-template-rows: auto 1fr auto;
		height: var(--custom-emoji-picker-constants-emoji-picker-height);
		width: var(--custom-emoji-picker-constants-min-emoji-picker-width);
	}
	.emojiPickerHasTabWrapper_c0e32c .emojiPicker_c0e32c {
	    background-color: transparent;
	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 0;
	    box-shadow: none;
	    flex: 1 1 auto;
	    grid-template-rows: auto 1fr auto;
	    height: 100%;
	    width: auto;
	}
	.categoryList_c0e32c {
		top: 58px;
	}
	.expressionPickerCategoryList_a1e0e0 {
		top: 50px;
	}
	.inspector_aeaaeb {
		background-color: var(--background-secondary-alt);
		border-top: unset;
	}
	.emojiPickerHasTabWrapper_c0e32c .categoryList_c0e32c {
		top: 50px;
	}
	.unicodeShortcut_b9ee0c {
		box-sizing: unset;
		border-top: unset;
	}
	.wrapper__14245 {
		background-color: var(--background-secondary);
	}
	.wrapper__4e6ce {
		background-color: var(--background-tertiary);
	}
	.header_c0e32c {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-low);
		margin: 0 -1px;
		padding: 12px;
		border-bottom: unset;
	}
	.childContainer__91a9d {
		padding: 2px 0
	}
	.clickable__9293f .icon__9293f {
		color: var(--interactive-normal);
	}
	/* channel menus */
	.header__45690 {
		background: var(--background-tertiary);
		border-bottom: 2px solid var(--background-modifier-accent);
	}
	.messagesPopoutWrap__45690 {
		background-color: var(--background-secondary);
		border-radius: 8px;
		max-height: 91vh !important;
	}
	.messageGroupWrapper__45690 {
		border: 1px solid var(--background-tertiary);
	    border-radius: 4px;
	    -webkit-user-select: none;
        user-select: none;
		background: var(--background-primary);
	    margin-right: unset;
	}
	.searchHeader_f3b986 {
		background: var(--bg-overlay-chat);
	    height: 48px;
	    padding: 0 20px;
		border: unset;
	}
	.content__49fc1 {
		padding-top: unset;
	}
	.root__49fc1 {
		border: none;
	}
	.rootWithShadow__49fc1 {
	    box-shadow: var(--legacy-elevation-border), var(--legacy-elevation-high);
	}
}
