/**
 * @name Old UI Restoration
 * @description A Bunch of Snippets to Bring back some good aspects of the Old UI
 * @author Blurple
 * @version 1.0.0
*/

/* Revert the Guild Bar back to Old UI Style */
@import url("https://raw.githubusercontent.com/BIurple/VC-Themes/refs/heads/main/Imports/GuildBarRevert.css");
/* Makes Chat Related Alerts feel more seamless */
@import url("https://raw.githubusercontent.com/BIurple/VC-Themes/refs/heads/main/Imports/ChatRelatedAlertsAtTop.css");

/* CSS VARIABLES */

.theme-dark {	
	--background-primary: var(--background-base-low) !important;
	--background-secondary: var(--background-base-lower) !important;
	--background-tertiary: var(--background-base-lowest) !important;
	--background-surface-highest: var(--background-primary);
	--background-secondary-alt: color-mix(in oklab, var(--neutral-86) 30%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}

.theme-darker {	
	--background-primary: var(--background-base-low) !important;
	--background-secondary: var(--background-base-lower) !important;
	--background-tertiary: var(--background-base-lowest) !important;
	--background-surface-highest: var(--background-primary);
	--background-secondary-alt: color-mix(in oklab, var(--neutral-86) 30%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}
.theme-midnight {
	--background-primary: var(--background-base-low) !important;
	--background-secondary: var(--background-base-lower) !important;
	--background-tertiary: var(--background-base-lowest) !important;
	--background-surface-highest: var(--background-primary);
	--background-secondary-alt: color-mix(in oklab, var(--neutral-86) 30%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}

body {
    --custom-channel-textarea-text-area-height: 42px; /* Custom Chat Bar Height, default value is 42px */
}

/* Old UI User Panel */
.visual-refresh {
#app-mount {
.sidebar__5e434 .panels__5e434,
.panels__5e434 > .container__37e49 > .container__4bbc6 {
    border-radius: 0;
}

.sidebar__5e434 .panels__5e434 {

    left: var(--custom-guild-list-width);
    bottom: 0;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px) !important;
	background-color: color-mix(in oklab, var(--background-tertiary), #000 11%);
}

/* Reduce Activity Panel's Height */
.activityPanel__5e434 {
    height: 36px;
	background-color: color-mix(in oklab, var(--background-tertiary), #000 11%) !important;
}

.sidebar__5e434 .wrapper_ef3116 {
  margin-bottom: unset !important;
}
/*div[class^=sidebar_] div[class^=scroller__] {
  margin-bottom: unset !important;
}*/
}
}


/* Title Bar CSS */
:root {
	--custom-app-top-bar-height: 28px;
}
/* Move top bar title back to the left */
.visual-refresh {
.title_c38106 {
   padding-left: var(--gap);
   justify-content: flex-start;
   margin-left: 0.5%;
}
.title_edbb22 {
   gap: 4px;
}
/* style top bar title */
/*.edbb22df99c39831-title .edbb22df99c39831-guildIcon {
    width: 16px;
   height: 16px;
   display: none;
}*/
.title_edbb22 .text-sm\/medium_cf4812 {
   line-height: 90%;
   color: var(--text-muted);
   font-weight: 700;
}
}


/* rearrange toolbar */
a[href="https://support.discord.com"] /* hide help */ /* I MADE A CHANGE FOR COMPACT TITLEBAR!!!*/
{
   display: none;
}
.search__97492 {
   order: 1;
   margin: 0 4px 0 12px;
}



/* Reduce Activity Panel's Height */
.activityPanel_c48ade {
    height: 36px
}

/* Fix Weird Blur-Like thing for Chat */
.chatTypingGradientNotAtBottom__36d07,.chatGradientBase__36d07 {
	display: none !important;
}


/* Old Context/Popout Menu */
.visual-refresh {
	.menu_c1e9c4, .option__3f413, .popout__3f413 {
		background: var(--background-surface-high);
	    box-shadow: var(--shadow-high);
	    border-radius: 4px;
		border: none;
	}
	.scroller_c1e9c4, .labelContainer_c1e9c4 {
		padding: 6px 8px;
	}
	.wrapper_f563df {
		gap: unset;
		padding: 4px 0 6px 2px;
		.button_f563df {
			border-radius: 50%;
			width: 32px;
		    height: 32px;
		    padding: 4px;
		}
	}
	.item_c1e9c4 {
	    box-sizing: border-box;
	    margin: 2px 0;
	}
	.colorDefault_c1e9c4 .label_c1e9c4 {
		color: unset;
	}
	.colorDefault_c1e9c4:active:not(.hideInteraction_c1e9c4) {
		background-color: var(--menu-item-default-active-bg);
	}
	.colorDefault_c1e9c4.focused_c1e9c4 {
		border-radius: 2px;
	}
	.colorDanger_c1e9c4, .colorDanger_c1e9c4 .checkbox_c1e9c4, .colorDanger_c1e9c4 .radioSelection_c1e9c4 {
		color: var(--status-danger);
	}
	.colorDanger_c1e9c4.focused_c1e9c4 {
	    color: var(--white);
	}
	.colorDefault_c1e9c4.focused_c1e9c4:not(.checkboxContainer_c1e9c4) path {
	    fill: var(--white);
	}
	.iconContainer_c1e9c4 {
		width: 18px;
		height: 18px;
	}
	.separator_c1e9c4 {
		margin: 4px;
	}
	.iconContainer_c1e9c4 {
		svg.radioIcon_c1e9c4 {
			width: 16px;
			height: 16px;
			margin-top: 2px
		}
		.refreshIconFill__001a7 {
			fill: transparent;
			stroke: white;
			stroke-width: 2;
			r: 10;
		}
		.refreshIconStroke__001a7 {
			stroke-width: 0;
		}
		.refreshIcon__001a7 {
			fill: var(--blurple);
			r: 6
		}
	}
	/* Emojis/GIF Picker */
	.drawerSizingWrapper__08434 {
		right: 0px !important;
	}
	.contentWrapper__08434 {
	    background-color: var(--background-secondary);
	    border-radius: 8px;
	    box-shadow: var(--shadow-border), var(--shadow-high);
		border: unset;
	}
	.header_fed6d3, .soundboardHeader__08434 {
		background-color: var(--background-secondary);
	    box-shadow: var(--shadow-ledge);
		border-bottom: unset;
	}
	.emojiPicker_c0e32c {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-border), var(--shadow-high);
		border-bottom-right-radius: var(--custom-emoji-picker-border-radius);
		border-bottom-left-radius: var(--custom-emoji-picker-border-radius);
		grid-template-columns: 48px auto;
		grid-template-rows: auto 1fr auto;
		height: var(--custom-emoji-picker-constants-emoji-picker-height);
		width: var(--custom-emoji-picker-constants-min-emoji-picker-width);
	}
	.emojiPickerHasTabWrapper_c0e32c .emojiPicker_c0e32c {
	    background-color: transparent;
	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 0;
	    box-shadow: none;
	    flex: 1 1 auto;
	    grid-template-rows: auto 1fr auto;
	    height: 100%;
	    width: auto;
	}
	.categoryList_c0e32c {
		top: 58px;
	}
	.expressionPickerCategoryList_a1e0e0 {
		top: 50px;
	}
	.inspector_aeaaeb {
		background-color: var(--background-secondary-alt);
		border-top: unset;
	}
	.emojiPickerHasTabWrapper_c0e32c .categoryList_c0e32c {
		top: 50px;
	}
	.unicodeShortcut_b9ee0c {
		box-sizing: unset;
		border-top: unset;
	}
	.wrapper__14245 {
		background-color: var(--background-secondary);
	}
	.wrapper__4e6ce {
		background-color: var(--background-tertiary);
	}
	.header_c0e32c {
		background-color: var(--background-secondary);
		box-shadow: var(--shadow-high);
		margin: 0 -1px;
		padding: 4px;
		border-bottom: unset;
	}
	.childContainer__91a9d {
		padding: 2px 0
	}
	/*.clickable__9293f .icon__9293f {
		color: var(--icon-muted);
	}*/
	/* channel menus */
	.header__45690 {
		background: var(--background-tertiary);
		border-bottom: 2px solid var(--background-modifier-accent);
	}
	.messagesPopoutWrap__45690 {
		background-color: var(--background-secondary);
		border-radius: 8px;
		max-height: 91vh !important;
	}
	.messageGroupWrapper__45690 {
		border: 1px solid var(--background-tertiary);
	    border-radius: 4px;
	    -webkit-user-select: none;
        user-select: none;
		background: var(--background-primary);
	    margin-right: unset;
	}
	.searchHeader_f3b986 {
		background: var(--bg-overlay-chat);
	    height: 48px;
	    padding: 0 20px;
		border: unset;
	}
	.content__49fc1 {
		padding-top: unset;
	}
	.root__49fc1 {
		border: none;
	}
	.rootWithShadow__49fc1 {
	    box-shadow: var(--legacy-elevation-border), var(--legacy-elevation-high);
	}
}

/* Fix Size of new Chat Box */
.attachWrapper__0923f {
	align-self: center;
	padding: 0px calc(var(--space-md) - 6px);
}

/* Unobtrusive Disconnect Popup */
.container_a2f514 {
    pointer-events: none;
	padding-bottom: 20px;
    background: #00000080;
    bottom: 20px;
    left: unset;
    right: 20px;
    top: 20px !important;
    height: 180px;
    width: 300px;
    border-radius: 8px;
    border-top: 5px solid;
    border-top-color: white;
    transition: border-top-color 1s;
    &:has(> .slideIn_a2f514) {border-top-color: #df3d40;}
}
.spinner_a2f514 {
	height: 150px !important;
	width: 150px !important;
	transform: translate(-50%, -90%);
	position: absolute;
}
.content_a2f514 {padding-top: 40px;}
.problems_a2f514 {pointer-events: auto; padding-bottom: 20px;}

/* Remove Back/Forward Buttons */
.backForwardButtons__63abb {
	display: none;
}








