:root {
  --indicator-border-size: 2px;
  --indicator-border-style: solid;
  --indicator-rounding: 0;
}

.theme-light {
  --indicator-unread: var(--primary-900-hsl);
  --indicator-unread-mention: var(--red-430-hsl);
  --indicator-selected: var(--brand-500-hsl);
  --indicator-connected: var(--green-430-hsl);
}

.theme-dark {
  --indicator-unread: var(--primary-130-hsl);
  --indicator-unread-mention: var(--red-400-hsl);
  --indicator-selected: var(--brand-500-hsl);
  --indicator-connected: var(--green-230-hsl);
}

.theme-darker {
  --indicator-unread: var(--primary-130-hsl);
  --indicator-unread-mention: var(--red-400-hsl);
  --indicator-selected: var(--brand-500-hsl);
  --indicator-connected: var(--green-300-hsl);
}

:root {
  --indicator-hover: var(--background-mod-subtle);
  --indicator-unread-border: hsla(var(--indicator-unread)/0.75);
  --indicator-unread-background: hsla(var(--indicator-unread)/0.05);
  --indicator-unread-hover-background: hsla(var(--indicator-unread)/0.10);
  --indicator-unread-mention-border: hsl(var(--indicator-unread-mention));
  --indicator-unread-mention-background: hsla(var(--indicator-unread-mention)/0.15);
  --indicator-unread-mention-hover-background: hsla(var(--indicator-unread-mention)/0.25);
  --indicator-selected-border: hsl(var(--indicator-selected));
  --indicator-selected-background: hsla(var(--indicator-selected)/0.15);
  --indicator-selected-hover-background: hsla(var(--indicator-selected)/0.25);
  --indicator-connected-border: hsl(var(--indicator-connected));
  --indicator-connected-background: hsla(var(--indicator-connected)/0.15);
  --indicator-connected-hover-background: hsla(var(--indicator-connected)/0.25);
}

.c69b6db0641110f6-containerDefault,
.c69b6db0641110f6-containerDragBefore {
  margin: 2px 0;
  border-radius: var(--indicator-rounding);
  border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
}
.c69b6db0641110f6-containerDefault ._2ea32c412048f708-link,
.c69b6db0641110f6-containerDragBefore ._2ea32c412048f708-link {
  background: transparent !important;
}
.c69b6db0641110f6-containerDefault._2ea32c412048f708-wrapper,
.c69b6db0641110f6-containerDragBefore._2ea32c412048f708-wrapper {
  padding-left: 8px;
}
.c69b6db0641110f6-containerDefault:hover,
.c69b6db0641110f6-containerDragBefore:hover {
  background-color: var(--indicator-hover);
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-modeSelected),
.c69b6db0641110f6-containerDragBefore:has(._2ea32c412048f708-modeSelected) {
  border-left-color: var(--indicator-selected-border);
  border-left-width: 3px;
  background-color: var(--indicator-selected-background);
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-modeSelected):hover,
.c69b6db0641110f6-containerDragBefore:has(._2ea32c412048f708-modeSelected):hover {
  background-color: var(--indicator-selected-hover-background);
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-modeSelected) ._2ea32c412048f708-link svg,
.c69b6db0641110f6-containerDragBefore:has(._2ea32c412048f708-modeSelected) ._2ea32c412048f708-link svg {
  color: var(--indicator-selected-border);
}
.c69b6db0641110f6-containerDefault:has(.modeUnreadLessImportant__2ea32, ._2ea32c412048f708-modeUnreadImportant),
.c69b6db0641110f6-containerDragBefore:has(.modeUnreadLessImportant__2ea32, ._2ea32c412048f708-modeUnreadImportant) {
  border-left-color: var(--indicator-unread-border);
  border-left-width: 3px;
  background-color: var(--indicator-unread-background);
}
.c69b6db0641110f6-containerDefault:has(.modeUnreadLessImportant__2ea32, ._2ea32c412048f708-modeUnreadImportant):hover,
.c69b6db0641110f6-containerDragBefore:has(.modeUnreadLessImportant__2ea32, ._2ea32c412048f708-modeUnreadImportant):hover {
  background-color: var(--indicator-unread-hover-background);
}
.c69b6db0641110f6-containerDefault:has(.modeUnreadLessImportant__2ea32, ._2ea32c412048f708-modeUnreadImportant) ._2ea32c412048f708-link svg,
.c69b6db0641110f6-containerDragBefore:has(.modeUnreadLessImportant__2ea32, ._2ea32c412048f708-modeUnreadImportant) ._2ea32c412048f708-link svg {
  color: var(--indicator-unread-border);
}
.c69b6db0641110f6-containerDefault:has(._933a166a2ed4d49c-mentionsBadge),
.c69b6db0641110f6-containerDragBefore:has(._933a166a2ed4d49c-mentionsBadge) {
  border-left-color: var(--indicator-unread-mention-border);
  border-left-width: 3px;
  background-color: var(--indicator-unread-mention-background);
}
.c69b6db0641110f6-containerDefault:has(._933a166a2ed4d49c-mentionsBadge):hover,
.c69b6db0641110f6-containerDragBefore:has(._933a166a2ed4d49c-mentionsBadge):hover {
  background-color: var(--indicator-unread-mention-hover-background);
}
.c69b6db0641110f6-containerDefault:has(._933a166a2ed4d49c-mentionsBadge) ._2ea32c412048f708-link svg,
.c69b6db0641110f6-containerDragBefore:has(._933a166a2ed4d49c-mentionsBadge) ._2ea32c412048f708-link svg {
  color: var(--indicator-unread-mention-border);
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-modeConnected),
.c69b6db0641110f6-containerDragBefore:has(._2ea32c412048f708-modeConnected) {
  border-left-color: var(--indicator-connected-border);
  border-left-width: 3px;
  background-color: var(--indicator-connected-background);
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-modeConnected):hover,
.c69b6db0641110f6-containerDragBefore:has(._2ea32c412048f708-modeConnected):hover {
  background-color: var(--indicator-connected-hover-background);
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-modeConnected) ._2ea32c412048f708-link svg,
.c69b6db0641110f6-containerDragBefore:has(._2ea32c412048f708-modeConnected) ._2ea32c412048f708-link svg {
  color: var(--indicator-connected-border);
}
.c69b6db0641110f6-containerDefault ._2ea32c412048f708-unread,
.c69b6db0641110f6-containerDragBefore ._2ea32c412048f708-unread {
  display: none;
}

._5b40bdd67543ba35-container ._5b40bdd67543ba35-spineBorder {
  left: 24px;
}

._551b0894962ff66f-navItem {
  margin: 2px 0;
  padding-left: 8px;
  border-radius: var(--indicator-rounding);
  border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
}
._551b0894962ff66f-navItem:hover {
  background-color: var(--indicator-hover);
}
._551b0894962ff66f-navItem._551b0894962ff66f-selected {
  border-left-color: var(--indicator-selected-border);
  color: var(--interactive-active);
  background-color: var(--indicator-selected-background);
}
._551b0894962ff66f-navItem._551b0894962ff66f-selected svg {
  color: var(--indicator-selected-border);
}

._972a0d22c8afa7f0-channel {
  max-width: unset;
  margin: 2px 0;
  padding: 0 0 0 8px;
  border-radius: var(--indicator-rounding);
  border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
}
._972a0d22c8afa7f0-channel:hover {
  background-color: var(--indicator-hover);
}
._972a0d22c8afa7f0-channel:has(.bf202d63ad53e289-selected) {
  border-left-color: var(--indicator-selected-border);
  background-color: var(--indicator-selected-background);
}
._972a0d22c8afa7f0-channel:has(.bf202d63ad53e289-selected):hover {
  background-color: var(--indicator-selected-hover-background);
}
._972a0d22c8afa7f0-channel:has(.bf202d63ad53e289-selected) ._972a0d22c8afa7f0-linkButtonIcon, ._972a0d22c8afa7f0-channel:has(.bf202d63ad53e289-selected) ._972a0d22c8afa7f0-closeButton {
  color: var(--indicator-selected-border);
}
._972a0d22c8afa7f0-channel:has(._20a53846fe2e8513-highlighted) {
  border-left-color: var(--indicator-unread-border);
  background-color: var(--indicator-unread-background);
}
._972a0d22c8afa7f0-channel:has(._20a53846fe2e8513-highlighted):hover {
  background-color: var(--indicator-unread-hover-background);
}
._972a0d22c8afa7f0-channel:has(._20a53846fe2e8513-highlighted) ._972a0d22c8afa7f0-linkButtonIcon, ._972a0d22c8afa7f0-channel:has(._20a53846fe2e8513-highlighted) ._972a0d22c8afa7f0-closeButton {
  color: var(--indicator-unread-border);
}
._972a0d22c8afa7f0-channel .bf202d63ad53e289-interactive {
  background: transparent;
}
.c69b6db0641110f6-voiceChannelHighlightBorder, .c69b6db0641110f6-voiceChannelHighlightGlow {
  display: none;
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-modeConnected) {
  .c69b6db0641110f6-channelInfo ._260e1982cd52c5c3-wrapper {
    color: var(--text-strong);
    background-color: hsl(142, 34%, 38%);
  }
  .c69b6db0641110f6-channelInfo ._260e1982cd52c5c3-users {
    background-color: hsl(142, 34%, 38%);
  }
    .c69b6db0641110f6-channelInfo ._260e1982cd52c5c3-total {
    background-color: hsl(140, 45%, 52%);
  }
  .c69b6db0641110f6-channelInfo ._260e1982cd52c5c3-total::after {
    border-inline-end-color: hsl(140, 45%, 52%);
  }
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-hoistingNotConnected) {
  .c69b6db0641110f6-channelInfo ._260e1982cd52c5c3-wrapper {
    color: var(--text-strong);
    background-color: hsl(142, 24%, 33%);
  }
  .c69b6db0641110f6-channelInfo ._260e1982cd52c5c3-users {
    background-color: hsl(142, 24%, 33%);
  }
    .c69b6db0641110f6-channelInfo ._260e1982cd52c5c3-total {
    background-color: hsl(140, 35%, 47%);
  }
  .c69b6db0641110f6-channelInfo ._260e1982cd52c5c3-total::after {
    border-inline-end-color: hsl(140, 35%, 47%);
  }
}
