/**
 * @name Refreshed Seamless Chat Bar
 * @description Moves around elements near the Chat Bar to be seamless with the message bar
 * @author NSPG911, Modified by Azure
 * @version 1.0.8
*/

:root {
    /* Custom padding for the chat box */
    --rscb-chat-box-padding: 8px;

/* Fix annoying space between chat n' chat box */
.scroller__36d07 {
	bottom: -1.5%;
}

#app-mount .form_f75fb0 {
    display: flex;
    flex-direction: column;
    padding: 5px var(--rscb-chat-box-padding) var(--rscb-chat-box-padding)
      var(--rscb-chat-box-padding) !important;
    /* Normal chatbar */
    .channelTextArea_f75fb0 {
      margin-bottom: 0px;
      margin-right: 1px;
      /* reply bar */
      .stackedBars__74017 {
        border-bottom-color: transparent !important;
        background-color: var(--chat-background-default);
      }
    }
    /* slowmode bar + typing indicator */
    .base_b88801 {
      border-color: transparent !important;
      position: static;
      order: 1;
      background: transparent !important;
      background-image: transparent !important;
      border: 1px solid var(--border-faint);
      border-top: none;
      border-radius: var(--radius-sm) var(--radius-sm) 0 0;
      .typing_b88801 {
        border-color: transparent !important;
      }
      .typingDots_b88801,
      .cooldownText_b21699 {
        background-color: var(--chat-background-default);
        height: 24px;
        padding-right: 8px;
        padding-left: 8px;
        border-radius: 0 0 8px 8px;
		flex: none !important;
        border: 1px solid var(--border-faint) !important;
        border-top-color: transparent !important;
        /* because they dont have the same position */
        &.typingDots_b88801 {
          transform: translateX(-25px);
          margin-bottom: 1px;
          &:not(:has(span > strong)) {
            display: none !important;
          }
        }
        &.cooldownText_b21699 {
          transform: translateY(0px);
		  transform: translateX(16px);
        }
      }
    }
    .channelAttachmentArea_b77158 {
      background-color: var(--chat-background-default);
    }
    /* the stars of the show, the :has */
    /* check for typing thing */
    &:has(> .typing_b88801 > .typingDots_b88801 > span > strong)
      .channelTextArea_f75fb0 {
      border-bottom-left-radius: 0 !important;
    }
    /* check for cooldown thing */
    &:has(> .typing_b88801 > .cooldownWrapper_b21699) .channelTextArea_f75fb0 {
      border-bottom-right-radius: 0 !important;
    }
	/* Fix Add Attachment messing with the rest of the chatbar's Height */
	.attachWrapper__0923f {
    align-self: center;
    padding: 0px calc(var(--space-md) - 6px);
    }
}
}
